---
import HomePill from "../components/HomePill.astro";
import Pdf from "../components/icons/Pdf.astro";
import Github from "../components/icons/Github.astro";
import Linkedin from "../components/icons/Linkedin.astro";
import Mail from "./icons/Mail.astro";
---

<div
  class="flex flex-col-reverse md:p-0 lg:p-0 items-center justify-center md:flex-row home-container"
>
  <div class="w-1/2 text-center md:text-left">
    <div>
      <h1 class="text-2xl font-semibold text-wrapper inline-block">
        Hola, soy<br />
        <span class="font-bold text-4xl lg:text-5xl text-principal-green">
          Franco Barrera
        </span>
      </h1>
      <h2
        class="font-mono font-bold text-xl w-fit md:text-xl lg:text-3xl text-second-green mt-4 typing-animation"
      >
        Desarrollador <br class="inline md:hidden" />de Software
      </h2>
      <p class="text-sm md:text-base lg:text-lg text-pretty mt-3 mb-8">
        Estudiante de último año de Ingeniería de Sistemas e Informática y
        Programador Full Stack.
      </p>
    </div>
    <div class="flex flex-wrap justify-center md:justify-start gap-3">
      <HomePill className="pr-1 md:pr-3">
        <Pdf class="p-1 size-7" />
        <span class="hidden md:inline">
          <span class="hidden lg:inline">Descargar</span> CV
        </span>
      </HomePill>
      <HomePill className="pr-1" href="https://github.com/FrozkG">
        <Github class="p-1 size-7" />
      </HomePill>
      <HomePill className="pr-1" href="https://www.linkedin.com/in/francobl/">
        <Linkedin class="p-1 size-7" />
      </HomePill>
      <HomePill className="pr-1" href="mailto:francobl.2002@gmail.com">
        <Mail class="size-[28px]" />
      </HomePill>
    </div>
  </div>

  <div class="flex items-center justify-center lg:w-1/2 mb-8 md:mb-0">
    <img
      class="w-72 h-72 md:w-72 md:h-72 lg:w-max lg:h-max object-cover rounded-full"
      src="/images/avatar.webp"
      alt="Avatar de Franco Barrera"
    />
  </div>
</div>

<style>
  @keyframes appearLeft {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .home-container {
    animation: appearLeft 0.5s linear;
  }

  @keyframes typing {
    from {
      width: 0;
      opacity: 1;
    }
    to {
      width: 100%;
      opacity: 1;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }

  .typing-animation {
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid var(--second-green); /* Agregar borde para el cursor */
    animation:
      typing 3s steps(30) 0.4s forwards,
      /* Animación de escritura */ blink 0.75s step-end infinite; /* Animación de parpadeo */
  }
</style>
